<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.weChart.mapper.AnswerMapper">
  <resultMap id="BaseResultMap" type="com.github.weChart.model.Answer">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
  </resultMap>
</mapper>